## DEEPaaS framework requirements
webargs==5.5.3
aiohttp==3.11.16
deepaas==2.5.2

flaat~=0.8.4
#model
Sphinx>=5.0.0
python-dotenv>=0.5.1

tensorboardX>=2.5.0
protobuf>=3.20.0,<6.0
opencv-python>=4.5.0

tqdm>=4.64.0
requests>=2.27.1
PyYAML>=6.0
matplotlib>=3.10.0

Jinja2>=3.0.0
Flask==3.0.2
gunicorn>=20.1.0
seaborn>=0.12.0
scikit-learn>=1.0.0
albumentations~=2.0.5
numpy<2.2.0,>=1.26.0
