flake8
pylint
pytest
pytest-cov
bandit
coverage!=4.4,>=4.0 # Apache-2.0

tensorflow==2.12.1
Sphinx~=4.3.0
python-dotenv~=0.19.2
numpy~=1.16.4
tensorboardX~=2.4.1
opencv-python~=4.5.4.60
albumentations~=0.1.8
tqdm~=4.62.3
requests~=2.26.0
PyYAML~=6.0
matplotlib~=3.3.4
Jinja2~=3.0.3
Flask~=2.0.2
gunicorn~=20.1.0
seaborn~=0.11.2
scikit-learn~=0.24.2
webargs~=5.5.3
aiohttp~=3.8.1
deepaas~=1.3.0
flaat~=0.8.0